.loadingWrapper{
    height: 100%;
    width: 100%;
    background: #A2FFE6;
    animation: body 2.5s infinite linear;
    animation-direction: alternate;

  }
  
  @keyframes body {
    from {
      background: #A2FFE6;
  
    }
    to {
      background: black;
     
    }
  }
  
  
  
 svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

}

.svg {

    animation: svg 2.5s infinite linear;
    animation-direction: alternate;
    animation-fill-mode: forwards;

}
  
    @keyframes svg {
    from {
    }
    to {
        stroke-dashoffset: 0;
        fill: #A2FFE6;
    }
}