.federicco_world_demo{
    grid-area: component;
    height: 100%;
    width: 100%;
    display: grid;
    gap: 0 2%;

    grid-template-rows: minmax(6%, auto) 
                        1fr 
                        5%
                        minmax(50px, 1fr)
                        minmax(8%, auto) ;

    grid-template-columns: 8% 20% 5% 60% 8%;

    grid-template-areas: " . . . . . "
                         " . foto . testo . "
                         " . . . testo . "
                         " . skills . testo . "
                         " . . . . . ";

    min-height: 0;  /* NEW */
    min-width: 0; 


    font-weight: 700;
    line-height: 1.2;



}

.federicco_world_img_demo{
    grid-area: foto;
    width: 100%;
    border-radius: 7px;
}

.federicco_world_content{
    font-weight: 500;
    grid-area: testo;
    max-width: 700px;
    height: 105%;
    width: 90%;
    
    overflow: scroll;
    padding-right: 2%;

    text-align: justify;

    h1{
        font-weight: 700;
    }

    a{
        text-decoration: none;
        color: unset;
    }


    .sketch1, .sketch2, .sketch3{
        width: 25%;
        margin: 0 6.5% 0 0;
    }


    .sketch2{
        margin-bottom: .5%;
    }

    .sketch3{
        margin: 0 0 1% .5%;
    }

    .figmaDemo{
        width: 50%;
        border-radius: 10px;
    }
    

}

.made_with{
    width: 100%;
    height: auto;
    grid-area: skills;
    max-width: none;
    min-height: 150px;
}

@media (max-width: 1000px){

    .federicco_world_demo{

        height: min-content;
        grid-template-rows: 

            1%
            1fr 
            minmax(min-content,max-content)
            minmax(min-content, max-content)
            minmax(min-content,max-content) ;

        grid-template-columns: 8% 1fr 8%;

        grid-template-areas: 
            " . . . "
            " . foto . "
            " . testo . "
            " . skills . "
            " . . . ";

        margin: 0 0 25% 0;
        gap: 2% 0;



        max-width: 450px;

    }

    .federicco_world_content{
        width: 100%;
    }

}